@charset "UTF-8";
:root {
  --wht: #fff;
  --textBlack: #221815;
  --bgBlack: #000;
  --bgBlack02: #0a211f;
  --bgBlack03: #221815;
  --bgTheme:#f56d98;
}

:root {
  --robot: "Roboto", sans-serif;
}

:root {
  --fszBase: 1.4rem;
  --fszBase_sp: 14;
  --fszAtt: 1.1rem;
  --fszAtt_sp: 11;
  --fszMid: 1.6rem;
  --fszMid_sp: 16;
  --fszMvTtl: 3.2rem;
  --fszMvTtl_sp: 24;
  --fszTtl: 2.8rem;
  --fszTtl_sp: 20;
  --fszSubTtl: 2rem;
  --fszSubTtl_sp: 16;
}

:root {
  --fullWidth: 1600px;
  --outerWidth: 1200px;
  --inrWidth: 800px;
}

/*----------------------------------------
	RESET
-----------------------------------------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul, li {
  list-style: none !important;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ====================
 SIZE SET
==================== */
/* ===================
 MIXIN
==================== */
* {
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
*:before, *:after {
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--robot);
  color: var(--textBlack);
  position: relative;
  width: 100%;
  word-break: break-all;
  line-height: 1.4;
  font-size: var(--basefs);
  font-weight: normal;
  letter-spacing: 0.025em;
  text-align: justify;
  overflow-x: hidden;
  background: linear-gradient(-45deg, #f9c2eb, #a8c2ee, #c2f9d0, #ffdea5) fixed;
  background-size: 800% 800%;
  -webkit-animation: GradietionAnimation 9s ease infinite;
          animation: GradietionAnimation 9s ease infinite;
}

@-webkit-keyframes GradietionAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes GradietionAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@media only screen and (max-width: 768px) {
  body {
    font-size: calc(var(--fszBase_sp) / 375 * 100vw);
  }
}
main,
header,
footer,
section {
  display: block;
}

img {
  margin: 0;
  padding: 0;
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

button {
  padding: 0;
  border: unset;
}

input[type=text],
input[type=password],
textarea,
select {
  outline: none;
}

label {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  tap-highlight-color: rgba(0, 0, 0, 0);
}

.gmap {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
}

.gmap iframe {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.youtube {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}

.youtube iframe {
  position: absolute;
  top: 0;
  right: 0;
  width: 100% !important;
  height: 100% !important;
}

#pageTop {
  position: fixed;
  bottom: 20px;
  right: 0;
  font-size: 1.4rem;
  text-align: right;
}
#pageTop a {
  text-decoration: none;
  color: #fff;
  text-align: center;
  display: block;
  border-radius: 5px;
}
#pageTop a:hover {
  text-decoration: none;
}

a {
  color: #000;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}
a:hover {
  opacity: 0.7;
}

a[href^="tel:"] {
  pointer-events: none;
}

@media screen and (max-width: 768px) {
  a[href^="tel:"] {
    pointer-events: auto;
  }
}
.pc {
  display: block !important;
}

.sp {
  display: none !important;
}

@media screen and (max-width: 768px) {
  .pc {
    display: none !important;
  }
  .sp {
    display: block !important;
  }
}
@media screen and (min-width: 769px) {
  .c-btn__to-top {
    position: fixed;
    z-index: 999;
    bottom: 50px;
    right: 50px;
    width: 60px;
    opacity: 0;
  }
}
@media screen and (max-width: 768px) {
  .c-btn__to-top {
    bottom: calc(50 / 375 * 100vw);
    right: calc(50 / 375 * 100vw);
    width: calc(60 / 375 * 100vw);
  }
  .c-btn-menu {
    position: fixed;
    z-index: 100;
    top: unset;
    bottom: 40px;
    width: 118px;
    right: 0px;
    opacity: 0;
  }
}
@media screen and (min-width: 769px) {
  .c-outer {
    width: calc(100% - 60px);
    max-width: var(--outerWidth);
    margin-left: auto;
    margin-right: auto;
  }
  .c-inner {
    max-width: var(--inrWidth);
    margin-left: auto;
    margin-right: auto;
    padding: 30px 0 30px;
    width: calc(100% - 50px);
    margin-inline: auto;
  }
}
@media screen and (max-width: 768px) {
  .c-outer {
    width: calc(100% - 30px);
    max-width: var(--outerWidth);
    margin-left: auto;
    margin-right: auto;
  }
  .c-inner {
    padding: 30px 0 30px;
    width: calc(100% - 50px);
    margin-inline: auto;
    max-width: var(--inrWidth);
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 769px) {
  .c-flex-col2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .c-flex-col2 > div {
    width: calc(50% - 10px);
    margin-right: 20px;
  }
  .c-flex-col2 > div:nth-of-type(2n) {
    margin-right: 0;
  }
  .c-flex-col2 > div:nth-of-type(n + 3) {
    margin-top: 20px;
  }
}
@media screen and (max-width: 768px) {
  .c-flex-col2 > div {
    width: calc(50% - 20 / 375 * 100vw * 1 / 2);
    margin-right: calc(20 / 375 * 100vw);
  }
  .c-flex-col2 > div:nth-of-type(2n) {
    margin-right: 0;
  }
  .c-flex-col2 > div:nth-of-type(n + 3) {
    margin-top: calc(20 / 375 * 100vw);
  }
}
.c-appear-up {
  opacity: 0;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.c-appear-up.is-visible {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.c-appear-left {
  opacity: 0;
  -webkit-transform: translateX(-30px);
          transform: translateX(-30px);
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.c-appear-left.is-visible {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.c-appear-right {
  opacity: 0;
  -webkit-transform: translateX(30px);
          transform: translateX(30px);
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.c-appear-right.is-visible {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.c-appear-down {
  opacity: 0;
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.c-appear-down.is-visible {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

@media screen and (min-width: 769px) {
  .c-ttl-mv {
    color: var(--textBlack);
  }
}
@media screen and (min-width: 769px) {
  .c-text-underline {
    text-decoration: underline;
  }
}
@media screen and (min-width: 769px) {
  .c-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.3s ease, visibility 0.3s ease;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 999;
  }
  .c-popup__content {
    background: var(--wht);
    border: 1px solid var(--bgBlack03);
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    width: 80%;
  }
  .c-popup__textarea {
    padding: 22px 24px 22px;
    background-color: var(--wht);
  }
  .c-popup__title {
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.4;
    letter-spacing: 0;
    margin-bottom: 10px;
  }
  .c-popup__text {
    font-size: 1.2rem;
    letter-spacing: 0;
    line-height: 1.4;
    margin-top: 10px;
  }
  .c-popup__text a {
    text-decoration: underline;
  }
  .c-popup__list {
    font-size: 1.5rem;
    letter-spacing: 0;
    line-height: 1.6;
    margin-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: none;
  }
  .c-popup__list dt {
    width: 80px;
  }
  .c-popup__list dd {
    width: calc(100% - 80px);
  }
  .c-popup__close {
    position: absolute;
    top: -1px;
    right: -1px;
    line-height: 1;
    width: 40px;
    height: 40px;
    background-color: var(--wht);
    border: 1px solid var(--bgBlack);
    cursor: pointer;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .c-popup__close:hover {
    opacity: 0.8;
  }
  .c-popup__close span {
    position: absolute;
    top: 50%;
    left: 50%;
    content: "";
    background-color: var(--bgBlack03);
    width: 15px;
    height: 2px;
  }
  .c-popup__close span:nth-of-type(1) {
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
            transform: translate(-50%, -50%) rotate(45deg);
  }
  .c-popup__close span:nth-of-type(2) {
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
            transform: translate(-50%, -50%) rotate(-45deg);
  }
  .c-popup.is-visible {
    opacity: 1;
    visibility: visible;
  }
  .c-popup.is-visible .c-popup__content {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@media screen and (max-width: 768px) {
  .c-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.3s ease, visibility 0.3s ease;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 999;
  }
  .c-popup__content {
    background: var(--wht);
    border: calc(1 / 375 * 100vw) solid var(--bgBlack03);
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    width: calc(350 / 375 * 100vw);
  }
  .c-popup__textarea {
    padding: calc(22 / 375 * 100vw) calc(24 / 375 * 100vw) calc(22 / 375 * 100vw);
    background-color: var(--wht);
  }
  .c-popup__title {
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.4;
    letter-spacing: 0;
    margin-bottom: calc(10 / 375 * 100vw);
  }
  .c-popup__text {
    font-size: 1.2rem;
    letter-spacing: 0;
    line-height: 1.4;
    margin-top: calc(10 / 375 * 100vw);
  }
  .c-popup__text a {
    text-decoration: underline;
  }
  .c-popup__list {
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 1.6;
    margin-top: calc(10 / 375 * 100vw);
    display: none;
  }
  .c-popup__close {
    position: absolute;
    top: calc(-1 / 375 * 100vw);
    right: calc(-1 / 375 * 100vw);
    line-height: 1;
    width: calc(40 / 375 * 100vw);
    height: calc(40 / 375 * 100vw);
    background-color: var(--wht);
    border: calc(1 / 375 * 100vw) solid var(--bgBlack);
    cursor: pointer;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .c-popup__close:hover {
    opacity: 0.8;
  }
  .c-popup__close span {
    position: absolute;
    top: 50%;
    left: 50%;
    content: "";
    background-color: var(--bgBlack03);
    width: calc(15 / 375 * 100vw);
    height: calc(2 / 375 * 100vw);
  }
  .c-popup__close span:nth-of-type(1) {
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
            transform: translate(-50%, -50%) rotate(45deg);
  }
  .c-popup__close span:nth-of-type(2) {
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
            transform: translate(-50%, -50%) rotate(-45deg);
  }
  .c-popup.is-visible {
    opacity: 1;
    visibility: visible;
  }
  .c-popup.is-visible .c-popup__content {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
.u-mt0 {
  margin-top: 0 !important;
}

.u-mt10 {
  margin-top: 10px;
}

.u-mt20 {
  margin-top: 20px;
}

.u-mt30 {
  margin-top: 30px;
}

.u-mt40 {
  margin-top: 40px;
}

.u-mt50 {
  margin-top: 50px;
}

.u-mt60 {
  margin-top: 60px;
}

.u-mt70 {
  margin-top: 70px;
}

.u-mt80 {
  margin-top: 80px;
}

.u-mt90 {
  margin-top: 90px;
}

.u-mt100 {
  margin-top: 100px;
}

.u-mt1000 {
  margin-top: 1000px;
}

.u-tal {
  text-align: left;
}

.u-tac {
  text-align: center;
}

.u-tac {
  text-align: center;
}

.u-tal {
  text-align: left;
}

.u-tar {
  text-align: right;
}

.u-taj {
  text-align: justify;
}

.u-tdu {
  text-decoration: underline;
}

.u-indent {
  text-indent: -1em;
  padding-left: 1em;
}

.u-fwb {
  font-weight: bold;
}

.u-redCol {
  color: var(--txtRed);
}

@media only screen and (max-width: 768px) {
  .u-mt10 {
    margin-top: 0.6em;
  }
  .u-mt20 {
    margin-top: 1.2em;
  }
  .u-mt30 {
    margin-top: 1.8em;
  }
  .u-mt40 {
    margin-top: 2.4em;
  }
  .u-mt50 {
    margin-top: 3em;
  }
  .u-mt60 {
    margin-top: 3.6em;
  }
  .u-mt70 {
    margin-top: 4.2em;
  }
  .u-mt80 {
    margin-top: 4.8em;
  }
  .u-mt90 {
    margin-top: 5.4em;
  }
  .u-mt100 {
    margin-top: 6em;
  }
}
@media screen and (min-width: 769px) {
  .l-ft {
    margin-top: 500px;
  }
}
@media screen and (min-width: 769px) {
  .l-header {
    position: sticky;
    top: 0;
    background-color: var(--bgGray);
  }
  .l-header__inner {
    width: calc(100% - 40px);
    margin-inline: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px 0;
  }
  .l-header__logo {
    width: 200px;
  }
  .l-header__nav {
    width: calc(100% - 200px);
  }
  .l-header__nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .l-header__nav a {
    font-size: 16px;
    color: var(--textBlack);
    padding: 5px;
  }
  .l-header__hamburger {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .l-header {
    position: sticky;
    top: 0;
    background-color: var(--bgGray);
  }
  .l-header__inner {
    width: calc(100% - 40 / 375 * 100vw);
    margin-inline: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: calc(10 / 375 * 100vw) 0;
  }
  .l-header__logo {
    width: calc(90 / 375 * 100vw);
  }
  .l-header__nav {
    position: fixed;
    top: calc(60 / 375 * 100vw);
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: calc(100vh - 60 / 375 * 100vw);
    background-color: var(--bgGray02);
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .l-header__nav.on {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .l-header__nav ul {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .l-header__nav a {
    font-size: calc(16 / 375 * 100vw);
    color: var(--textBlack);
    padding: calc(5 / 375 * 100vw);
  }
  .l-header__hamburger {
    position: relative;
    width: calc(40 / 375 * 100vw);
    height: calc(40 / 375 * 100vw);
    background-color: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .l-header__hamburger-box {
    width: calc(30 / 375 * 100vw);
    height: calc(20 / 375 * 100vw);
    position: relative;
  }
  .l-header__hamburger-box span {
    position: absolute;
    display: block;
    width: 100%;
    height: calc(2 / 375 * 100vw);
    background-color: var(--wht);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .l-header__hamburger-box span:nth-of-type(1) {
    top: 0;
  }
  .l-header__hamburger-box span:nth-of-type(2) {
    top: 50%;
  }
  .l-header__hamburger-box span:nth-of-type(3) {
    top: 100%;
  }
  .l-header__hamburger.on span:nth-of-type(1) {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
            transform: translate(-50%, -50%) rotate(45deg);
  }
  .l-header__hamburger.on span:nth-of-type(2) {
    opacity: 0;
  }
  .l-header__hamburger.on span:nth-of-type(3) {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
            transform: translate(-50%, -50%) rotate(-45deg);
  }
}
@media screen and (min-width: 769px) {
  .p-top-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .p-top-mv {
    position: sticky;
    top: 0;
    height: 100vh;
    width: 40vw;
  }
  .p-top-mv__background img {
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center left;
       object-position: center left;
    height: 100vh;
  }
  .p-top-mv__logo {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 310px;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .p-top-mv__appeal {
    position: absolute;
    right: 0;
    bottom: 100px;
    width: 200px;
  }
  .p-top-nav {
    position: sticky;
    top: 0;
    height: 100vh;
  }
  .p-top-nav__list {
    margin-top: 0;
    margin-left: 44px;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .p-top-nav__list > * + * {
    margin-top: 14px;
  }
  .p-top-nav__item {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 3px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .p-top-nav__item.on {
    background-color: #fdd000;
  }
  .p-top-nav__item a {
    font-size: 2rem;
    font-weight: bold;
  }
  .p-top-nav__item img {
    max-height: 33px;
  }
  .p-top-nav__item.-protrude img {
    max-height: 41px;
  }
  .p-top-nav__item.-two-row img {
    max-height: 71px;
  }
  .p-top-contents {
    width: 420px;
    min-width: 420px;
    background-color: var(--wht);
    -webkit-box-shadow: 0 0 10px #727272;
            box-shadow: 0 0 10px #727272;
  }
  .p-top-contents__event {
    padding: 60px 0 0;
  }
  .p-top-contents__event-box {
    background-color: #eee;
    border-radius: 10px;
    padding: 36px;
    position: relative;
  }
  .p-top-contents__event-box-title {
    position: absolute;
    top: -30px;
    right: -10px;
    width: 280px;
  }
  .p-top-contents__event-block {
    width: 77%;
  }
  .p-top-contents__event-block:nth-of-type(even) {
    margin-left: auto;
  }
  .p-top-contents__event-block:not(:first-of-type) {
    margin-top: 20px;
  }
  .p-top-contents__event-instagram-campaign {
    font-size: 1.4rem;
    font-family: var(--yeseva);
    color: #fff;
    background-color: #000;
    position: relative;
    width: 100%;
    padding-right: 20px;
    padding-left: 3px;
    letter-spacing: 0.05em;
    margin-top: 34px;
  }
  .p-top-contents__event-instagram-campaign:after {
    position: absolute;
    content: "";
    bottom: 0;
    right: 0px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 10px 10px;
    border-color: transparent transparent #eee transparent;
  }
  .p-top-contents__event-thumbnail {
    margin-top: 10px;
  }
  .p-top-contents__event-date {
    margin-top: 10px;
  }
  .p-top-contents__event-date.-date01 {
    width: 77%;
  }
  .p-top-contents__event-date.-date02 {
    width: 77%;
  }
  .p-top-contents__event-title {
    letter-spacing: -0.04em;
    line-height: 1.2;
    font-weight: bold;
    margin-top: 10px;
    -webkit-font-feature-settings: "palt";
            font-feature-settings: "palt";
  }
  .p-top-contents__event-title .small-text {
    font-size: 1.3rem;
  }
  .p-top-contents__event-title .normal-text {
    font-size: 1.5rem;
  }
  .p-top-contents__event-text {
    line-height: 1.5;
    font-size: 1.2rem;
    margin-top: 8px;
  }
  .p-top-contents__event-note {
    margin-top: 12px;
  }
  .p-top-contents__event-note-item {
    margin-left: 1em;
    text-indent: -1em;
    font-size: 1rem;
    line-height: 1.53;
    letter-spacing: 0;
  }
  .p-top-contents__event-btn {
    display: block;
    width: 100%;
    padding: 13px 0;
    margin-inline: auto;
    max-width: 125px;
  }
  .p-top-contents__box-note {
    margin-top: 26px;
    border-top: 1px solid var(--bgBlack);
    padding-top: 15px;
  }
  .p-top-contents__box-note-item {
    margin-left: 1em;
    text-indent: -1em;
    font-size: 1rem;
  }
  .p-top-contents__point {
    margin-top: 80px;
  }
  .p-top-contents__point-box {
    background-color: var(--wht);
    border: 1px solid var(--bgBlack02);
    padding: 26px 24px 30px;
    margin-inline: auto;
    margin-top: 0;
    border-radius: 11px;
    position: relative;
  }
  .p-top-contents__point-text {
    font-size: 1.1rem;
    margin-top: 13px;
  }
  .p-top-contents__category.-fashion {
    padding-top: 30px;
    margin-top: -30px;
  }
  .p-top-contents__category.-accessory .p-top-contents__category-title {
    width: 76%;
  }
  .p-top-contents__category.-accessory .p-top-contents__category-thumbnail {
    margin-top: -158px;
  }
  .p-top-contents__category.-accessory .p-top-contents__popup-btn-area {
    margin-top: -100px;
  }
  .p-top-contents__category.-color-item {
    margin-top: 90px;
    padding-bottom: 60px;
  }
  .p-top-contents__category.-color-item .p-top-contents__category-title {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-left: auto;
  }
  .p-top-contents__category.-color-item .p-top-contents__category-thumbnail {
    margin-top: -185px;
  }
  .p-top-contents__category.-color-item .p-top-contents__popup-btn-area {
    margin-top: -10px;
  }
  .p-top-contents__category.-lunch {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f8dabb;
  }
  .p-top-contents__category.-lunch .p-top-contents__category-title {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .p-top-contents__category.-lunch .p-top-contents__popup-btn-area {
    margin-top: 40px;
  }
  .p-top-contents__category.-dinner {
    margin-top: 0;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #fae6cf;
  }
  .p-top-contents__category.-dinner .p-top-contents__category-title {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-left: auto;
  }
  .p-top-contents__category.-dinner .p-top-contents__popup-btn-area {
    margin-top: 40px;
  }
  .p-top-contents__category.-interior {
    background-color: #eee;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .p-top-contents__category-title {
    position: relative;
    font-size: 2rem;
    font-weight: bold;
  }
  .p-top-contents__popup-btn-area {
    width: 100%;
    margin-inline: auto;
    margin-top: 20px;
  }
  .p-top-contents__popup-btn-area > * + * {
    margin-top: 25px;
  }
  .p-top-contents__popup-btn-area > *:nth-of-type(odd) .p-top-contents__popup-headline {
    left: 196px;
  }
  .p-top-contents__popup-btn-area > *:nth-of-type(even) {
    margin-left: auto;
  }
  .p-top-contents__popup-btn-area > *:nth-of-type(even) .p-top-contents__popup-headline {
    left: -98px;
  }
  .p-top-contents__popup-btn-area.-reverse > *:nth-of-type(odd) {
    margin-left: auto;
  }
  .p-top-contents__popup-btn-area.-reverse > *:nth-of-type(odd) .p-top-contents__popup-headline {
    left: -98px;
  }
  .p-top-contents__popup-btn-area.-reverse > *:nth-of-type(even) {
    margin-left: 0;
  }
  .p-top-contents__popup-btn-area.-reverse > *:nth-of-type(even) .p-top-contents__popup-headline {
    left: 196px;
  }
  .p-top-contents__popup-btn {
    width: 220px;
    position: relative;
  }
  .p-top-contents__popup-btn a {
    pointer-events: none;
  }
  .p-top-contents__popup-thumbnail {
    position: relative;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    width: 220px;
    overflow: hidden;
    border: 1px solid var(--bgBlack03);
  }
  .p-top-contents__popup-thumbnail:hover {
    opacity: 0.8;
  }
  .p-top-contents__popup-thumbnail img {
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    height: 140px;
  }
  .p-top-contents__popup-btn-icon {
    position: absolute;
    left: -1px;
    bottom: -1px;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border: 1px solid var(--bgBlack03);
    cursor: pointer;
  }
  .p-top-contents__popup-btn-icon:before {
    position: absolute;
    content: "";
    top: 32%;
    left: 25%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    width: 10px;
    height: 10px;
    border-top: 2px solid var(--bgBlack03);
    border-right: 2px solid var(--bgBlack03);
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transform-origin: center center;
            transform-origin: center center;
  }
  .p-top-contents__popup-headline {
    position: absolute;
    z-index: 10;
    top: 29px;
    pointer-events: none;
  }
  .p-top-contents__popup-headline > * + * {
    margin-top: 5px;
  }
  .p-top-contents__popup-headline span {
    font-size: 1.3rem;
    background-color: #fff;
    display: block;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif;
    font-weight: bold;
    padding: 0 2px;
    white-space: nowrap;
  }
  .p-top-contents__popup-title {
    margin-top: 15px;
    font-size: 1.6rem;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 1.2;
    font-family: var(--yeseva), var(--yu_gothic);
  }
  .p-top-contents__popup-title.-mincho {
    text-shadow: 0.1px 0.1px #000, -0.1px 0.1px #000, -0.1px -0.1px #000, 0.1px -0.1px #000, 0.1px 0px #000, 0px 0.1px #000, -0.1px 0px #000, 0px -0.1px #000;
  }
  .p-top-contents__popup-place {
    font-size: 1.3rem;
    line-height: 1.4;
    letter-spacing: 0;
    margin-top: 7px;
  }
  .p-top-contents__accentuate-area {
    margin-top: 50px;
  }
  .p-top-contents__accentuate-area > * + * {
    margin-top: 50px;
  }
  .p-top-contents__accentuate-block {
    position: relative;
  }
  .p-top-contents__accentuate-block:nth-of-type(1) .p-top-contents__accentuate-headline {
    top: -30px;
    right: 10px;
  }
  .p-top-contents__accentuate-block:nth-of-type(2) .p-top-contents__accentuate-headline {
    top: 10px;
    left: 10px;
  }
  .p-top-contents__accentuate-headline {
    position: absolute;
    top: 0;
    right: 0;
  }
  .p-top-contents__accentuate-headline.-vertical-rl {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .p-top-contents__accentuate-headline.-vertical-rl > * + * {
    margin-right: 10px;
  }
  .p-top-contents__accentuate-headline.-vertical-rl span {
    -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
    padding: 9px 6px;
  }
  .p-top-contents__accentuate-headline.-row > * + * {
    margin-top: 10px;
  }
  .p-top-contents__accentuate-headline.-row span {
    padding: 5px 9px 3px;
  }
  .p-top-contents__accentuate-headline span {
    font-size: 1.6rem;
    line-height: 1;
    background-color: #fff;
    display: block;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-family: var(--yu_gothic);
    font-weight: bold;
    white-space: nowrap;
  }
  .p-top-contents__accentuate-textarea {
    background-color: #fff;
    border-radius: 0 0 10px 10px;
    padding: 26px 24px 20px;
    margin-inline: auto;
    width: 80%;
    margin-top: -30px;
    position: relative;
  }
  .p-top-contents__accentuate-text {
    font-size: 1.4rem;
    letter-spacing: 0.03em;
    line-height: 1.35;
    font-family: var(--yu_gothic);
  }
  .p-top-contents__accentuate-data-item {
    font-size: 1.4rem;
    font-weight: bold;
    margin-top: 11px;
    font-family: var(--yu_gothic);
  }
  .p-top-contents__accentuate-shop-name {
    margin-left: auto;
    text-align: right;
    font-size: 1.3rem;
    letter-spacing: 0;
    display: block;
    font-family: var(--yeseva), var(--yu_gothic);
  }
  .p-top-contents__accentuate-shop-data {
    margin-top: 1px;
    font-size: 1rem;
    text-align: right;
    font-family: var(--yu_gothic);
    white-space: nowrap;
  }
}
@media screen and (max-width: 768px) {
  .p-top-mv {
    display: none;
  }
  .p-top-mv__logo {
    position: absolute;
    top: calc(80 / 375 * 100vw);
    left: calc(30 / 375 * 100vw);
    width: calc(310 / 375 * 100vw);
    -webkit-filter: drop-shadow(0px 0px 5px black);
            filter: drop-shadow(0px 0px 5px black);
    display: none;
  }
  .p-top-mv__appeal {
    position: absolute;
    right: 0;
    bottom: calc(100 / 375 * 100vw);
    width: calc(200 / 375 * 100vw);
  }
  .p-top-nav {
    position: fixed;
    z-index: 9999;
    top: 0;
    height: 100vh;
    background-color: var(--wht);
    border-left: 1px solid var(--bgBlack03);
    width: 60vw;
    -webkit-transform: translateX(calc(375 / 375 * 100vw));
            transform: translateX(calc(375 / 375 * 100vw));
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .p-top-nav.on {
    -webkit-transform: translate(calc(150 / 375 * 100vw));
            transform: translate(calc(150 / 375 * 100vw));
  }
  .p-top-nav__close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
  }
  .p-top-nav__close span {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: var(--bgBlack03);
    width: 100%;
    height: 1px;
  }
  .p-top-nav__close span:first-of-type {
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
            transform: translate(-50%, -50%) rotate(45deg);
  }
  .p-top-nav__close span:nth-of-type(2) {
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
            transform: translate(-50%, -50%) rotate(-45deg);
  }
  .p-top-nav__list {
    margin-top: 0;
    margin-left: 44px;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .p-top-nav__list > * + * {
    margin-top: 14px;
  }
  .p-top-nav__item {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 3px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .p-top-nav__item.on {
    background-color: #fdd000;
  }
  .p-top-nav__item a {
    font-size: calc(16 / 375 * 100vw);
    font-weight: bold;
  }
  .p-top-nav__item img {
    max-height: 33px;
  }
  .p-top-nav__item.-protrude img {
    max-height: 41px;
  }
  .p-top-nav__item.-two-row img {
    max-height: 71px;
  }
  .p-top-contents {
    background-color: var(--wht);
  }
  .p-top-contents__event {
    padding: calc(60 / 375 * 100vw) 0 0;
  }
  .p-top-contents__event-box {
    background-color: #eee;
    border-radius: calc(10 / 375 * 100vw);
    padding: calc(36 / 375 * 100vw);
    position: relative;
  }
  .p-top-contents__event-box-title {
    position: absolute;
    top: calc(-30 / 375 * 100vw);
    right: calc(-10 / 375 * 100vw);
    width: calc(280 / 375 * 100vw);
  }
  .p-top-contents__event-block {
    width: 77%;
  }
  .p-top-contents__event-block:nth-of-type(even) {
    margin-left: auto;
  }
  .p-top-contents__event-block:not(:first-of-type) {
    margin-top: calc(20 / 375 * 100vw);
  }
  .p-top-contents__event-instagram-campaign {
    font-size: 1.4rem;
    font-family: var(--yeseva);
    color: #fff;
    background-color: #000;
    position: relative;
    width: 100%;
    padding-right: calc(20 / 375 * 100vw);
    padding-left: calc(3 / 375 * 100vw);
    letter-spacing: 0.05em;
    margin-top: calc(34 / 375 * 100vw);
  }
  .p-top-contents__event-instagram-campaign:after {
    position: absolute;
    content: "";
    bottom: 0;
    right: 0px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 calc(10 / 375 * 100vw) calc(10 / 375 * 100vw);
    border-color: transparent transparent #eee transparent;
  }
  .p-top-contents__event-thumbnail {
    margin-top: calc(10 / 375 * 100vw);
  }
  .p-top-contents__event-date {
    margin-top: calc(10 / 375 * 100vw);
  }
  .p-top-contents__event-date.-date01 {
    width: 77%;
  }
  .p-top-contents__event-date.-date02 {
    width: 77%;
  }
  .p-top-contents__event-title {
    letter-spacing: -0.04em;
    line-height: 1.2;
    font-weight: bold;
    margin-top: calc(10 / 375 * 100vw);
    -webkit-font-feature-settings: "palt";
            font-feature-settings: "palt";
  }
  .p-top-contents__event-title .small-text {
    font-size: 1.3rem;
  }
  .p-top-contents__event-title .normal-text {
    font-size: 1.5rem;
  }
  .p-top-contents__event-text {
    line-height: 1.5;
    font-size: 1.2rem;
    margin-top: calc(8 / 375 * 100vw);
  }
  .p-top-contents__event-note {
    margin-top: calc(12 / 375 * 100vw);
  }
  .p-top-contents__event-note-item {
    margin-left: 1em;
    text-indent: -1em;
    font-size: 1rem;
    line-height: 1.53;
    letter-spacing: 0;
  }
  .p-top-contents__event-btn {
    display: block;
    width: 100%;
    padding: calc(13 / 375 * 100vw) 0;
    margin-inline: auto;
    max-width: calc(125 / 375 * 100vw);
  }
  .p-top-contents__box-note {
    margin-top: calc(26 / 375 * 100vw);
    border-top: calc(1 / 375 * 100vw) solid var(--bgBlack);
    padding-top: calc(15 / 375 * 100vw);
  }
  .p-top-contents__box-note-item {
    margin-left: 1em;
    text-indent: -1em;
    font-size: 1rem;
  }
  .p-top-contents__point {
    margin-top: calc(80 / 375 * 100vw);
  }
  .p-top-contents__point-box {
    background-color: var(--wht);
    border: calc(1 / 375 * 100vw) solid var(--bgBlack02);
    padding: calc(26 / 375 * 100vw) calc(24 / 375 * 100vw) calc(30 / 375 * 100vw);
    margin-inline: auto;
    margin-top: 0;
    border-radius: calc(11 / 375 * 100vw);
    position: relative;
  }
  .p-top-contents__point-text {
    font-size: 1.1rem;
    margin-top: 13px;
  }
  .p-top-contents__categories {
    margin-top: 0;
  }
  .p-top-contents__category.-fashion {
    padding-top: 30px;
    margin-top: -30px;
  }
  .p-top-contents__category.-accessory .p-top-contents__category-title {
    width: 76%;
  }
  .p-top-contents__category.-accessory .p-top-contents__category-thumbnail {
    margin-top: -158px;
  }
  .p-top-contents__category.-accessory .p-top-contents__popup-btn-area {
    margin-top: -100px;
  }
  .p-top-contents__category.-color-item {
    margin-top: 90px;
    padding-bottom: 60px;
  }
  .p-top-contents__category.-color-item .p-top-contents__category-title {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-left: auto;
  }
  .p-top-contents__category.-color-item .p-top-contents__category-thumbnail {
    margin-top: -185px;
  }
  .p-top-contents__category.-color-item .p-top-contents__popup-btn-area {
    margin-top: -10px;
  }
  .p-top-contents__category.-lunch {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f8dabb;
  }
  .p-top-contents__category.-lunch .p-top-contents__category-title {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .p-top-contents__category.-lunch .p-top-contents__popup-btn-area {
    margin-top: 40px;
  }
  .p-top-contents__category.-dinner {
    margin-top: 0;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #fae6cf;
  }
  .p-top-contents__category.-dinner .p-top-contents__category-title {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-left: auto;
  }
  .p-top-contents__category.-dinner .p-top-contents__popup-btn-area {
    margin-top: 40px;
  }
  .p-top-contents__category.-interior {
    background-color: #eee;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .p-top-contents__category-title {
    position: relative;
    font-size: calc(22 / 375 * 100vw);
    font-weight: bold;
  }
  .p-top-contents__popup-btn-area {
    width: 100%;
    margin-inline: auto;
    width: 78%;
    margin-top: calc(20 / 375 * 100vw);
  }
  .p-top-contents__popup-btn-area > * + * {
    margin-top: 22px;
  }
  .p-top-contents__popup-btn-area > *:nth-of-type(odd) .p-top-contents__popup-headline {
    left: 196px;
  }
  .p-top-contents__popup-btn-area > *:nth-of-type(even) {
    margin-left: auto;
  }
  .p-top-contents__popup-btn-area > *:nth-of-type(even) .p-top-contents__popup-headline {
    left: -98px;
  }
  .p-top-contents__popup-btn-area.-reverse > *:nth-of-type(odd) {
    margin-left: auto;
  }
  .p-top-contents__popup-btn-area.-reverse > *:nth-of-type(odd) .p-top-contents__popup-headline {
    left: -98px;
  }
  .p-top-contents__popup-btn-area.-reverse > *:nth-of-type(even) {
    margin-left: 0;
  }
  .p-top-contents__popup-btn-area.-reverse > *:nth-of-type(even) .p-top-contents__popup-headline {
    left: 196px;
  }
  .p-top-contents__popup-btn {
    width: 180px;
    position: relative;
  }
  .p-top-contents__popup-thumbnail {
    position: relative;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    width: 210px;
    border-radius: 0 50px 50px 0;
    overflow: hidden;
    border: 1px solid var(--bgBlack03);
  }
  .p-top-contents__popup-thumbnail:hover {
    opacity: 0.8;
  }
  .p-top-contents__popup-btn-icon {
    position: absolute;
    left: -1px;
    bottom: -1px;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border: 1px solid var(--bgBlack03);
    cursor: pointer;
  }
  .p-top-contents__popup-btn-icon:before {
    position: absolute;
    content: "";
    top: 32%;
    left: 25%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
    width: 10px;
    height: 10px;
    border-top: 2px solid var(--bgBlack03);
    border-right: 2px solid var(--bgBlack03);
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transform-origin: center center;
            transform-origin: center center;
  }
  .p-top-contents__popup-headline {
    position: absolute;
    z-index: 10;
    top: 29px;
    pointer-events: none;
  }
  .p-top-contents__popup-headline > * + * {
    margin-top: 5px;
  }
  .p-top-contents__popup-headline span {
    font-size: 1.3rem;
    background-color: #fff;
    display: block;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", "verdana", sans-serif;
    font-weight: bold;
    padding: 0 2px;
    white-space: nowrap;
  }
  .p-top-contents__popup-title {
    margin-top: 4px;
    font-size: 1.3rem;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 1.2;
    font-family: var(--yeseva), var(--yu_gothic);
  }
  .p-top-contents__popup-title.-mincho {
    text-shadow: 0.1px 0.1px #000, -0.1px 0.1px #000, -0.1px -0.1px #000, 0.1px -0.1px #000, 0.1px 0px #000, 0px 0.1px #000, -0.1px 0px #000, 0px -0.1px #000;
  }
  .p-top-contents__popup-place {
    font-size: 1rem;
    line-height: 1.4;
    letter-spacing: 0;
    margin-top: 1px;
  }
  .p-top-contents__accentuate-area {
    margin-top: 50px;
  }
  .p-top-contents__accentuate-area > * + * {
    margin-top: 50px;
  }
  .p-top-contents__accentuate-block {
    position: relative;
  }
  .p-top-contents__accentuate-block:nth-of-type(1) .p-top-contents__accentuate-headline {
    top: -30px;
    right: 10px;
  }
  .p-top-contents__accentuate-block:nth-of-type(2) .p-top-contents__accentuate-headline {
    top: 10px;
    left: 10px;
  }
  .p-top-contents__accentuate-headline {
    position: absolute;
    top: 0;
    right: 0;
  }
  .p-top-contents__accentuate-headline.-vertical-rl {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .p-top-contents__accentuate-headline.-vertical-rl > * + * {
    margin-right: 10px;
  }
  .p-top-contents__accentuate-headline.-vertical-rl span {
    -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
    padding: 9px 6px;
  }
  .p-top-contents__accentuate-headline.-row > * + * {
    margin-top: 10px;
  }
  .p-top-contents__accentuate-headline.-row span {
    padding: 5px 9px 3px;
  }
  .p-top-contents__accentuate-headline span {
    font-size: 1.6rem;
    line-height: 1;
    background-color: #fff;
    display: block;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-family: var(--yu_gothic);
    font-weight: bold;
    white-space: nowrap;
  }
  .p-top-contents__accentuate-textarea {
    background-color: #fff;
    border-radius: 0 0 10px 10px;
    padding: 26px 24px 20px;
    margin-inline: auto;
    width: 80%;
    margin-top: -30px;
    position: relative;
  }
  .p-top-contents__accentuate-text {
    font-size: 1.4rem;
    letter-spacing: 0.03em;
    line-height: 1.35;
    font-family: var(--yu_gothic);
  }
  .p-top-contents__accentuate-data-item {
    font-size: 1.4rem;
    font-weight: bold;
    margin-top: 11px;
    font-family: var(--yu_gothic);
  }
  .p-top-contents__accentuate-shop-name {
    margin-left: auto;
    text-align: right;
    font-size: 1.3rem;
    letter-spacing: 0;
    display: block;
    font-family: var(--yeseva), var(--yu_gothic);
  }
  .p-top-contents__accentuate-shop-data {
    margin-top: 1px;
    font-size: 1rem;
    text-align: right;
    font-family: var(--yu_gothic);
    white-space: nowrap;
  }
}
@media screen and (min-width: 1165px) {
  .p-top-mv__background img {
    height: auto;
  }
}
@media screen and (max-width: 1100px) {
  .p-top-mv {
    width: 0;
  }
  .p-top-mv__logo {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */