@use "setting/mixin" as *;
@use "setting/calc" as *;

@media screen and (min-width: 769px) {
    .c-btn {
        &__to-top {
            position: fixed;
            z-index: 999;
            bottom: pv(50);
            right: pv(50);
            width: pv(60);
            opacity: 0;
        }
    }
}

@media screen and (max-width: 768px) {
    .c-btn {
        &__to-top {
            bottom: vw(50);
            right: vw(50);
            width: vw(60);
        }
        &-menu {
            position: fixed;
            z-index: 100;
            top: unset;
            bottom: 40px;
            width: 118px;
            right: 0px;
            opacity: 0;
        }
    }
}
