@use "setting/mixin" as *;
@use "setting/calc" as *;

@media screen and (min-width: 769px) {
    .c-outer {
        width: calc(100% - 60px);
        max-width: var(--outerWidth);
        margin-left: auto;
        margin-right: auto;
    }   
    .c-inner {
        max-width: var(--inrWidth);
        margin-left: auto;
        margin-right: auto;
        padding: 30px 0 30px;
        width: calc(100% - 50px);
        margin-inline: auto;
    }
}

@media screen and (max-width: 768px) {
    .c-outer {
        width: calc(100% - 30px);
        max-width: var(--outerWidth);
        margin-left: auto;
        margin-right: auto;
    }   
    .c-inner {
        padding: 30px 0 30px;
        width: calc(100% - 50px);
        margin-inline: auto;
        max-width: var(--inrWidth);
        margin-left: auto;
        margin-right: auto;
    }
}
