@use "setting/mixin" as *;
@use "setting/calc" as *;

@media screen and (min-width: 769px) {
    .c-flex {
        &-col2 {
            display: flex;
            flex-wrap: wrap;
            > div {
                width: calc(100% / 2 - pv(20) * 1 / 2);
                margin-right: pv(20);
                &:nth-of-type(2n) {
                    margin-right: 0;
                }
                &:nth-of-type(n + 3) {
                    margin-top: pv(20);
                }
            }
            
        }
    }
}

@media screen and (max-width: 768px) {
    .c-flex {
        &-col2 {
            > div {
                width: calc(100% / 2 - vw(20) * 1 / 2);
                margin-right: vw(20);
                &:nth-of-type(2n) {
                    margin-right: 0;
                }
                &:nth-of-type(n + 3) {
                    margin-top: vw(20);
                }
            }
        }
    }
}
