@use "setting/mixin" as *;
@use "setting/calc" as *;

@media screen and (min-width: 769px) {
    .c-popup {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        opacity: 0;
        visibility: hidden;
        transition:
            opacity 0.3s ease,
            visibility 0.3s ease;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 999;

        &__content {
            background: var(--wht);
            border: pv(1) solid var(--bgBlack03);
            transform: translateX(-100%);
            transition: all 0.3s;
            width: 80%;
        }
        &__img {

        }
        &__textarea {
            padding: pv(22) pv(24) pv(22);
            background-color: var(--wht);
        }
        &__title {
            font-size: 1.8rem;
            font-weight: bold;
            line-height: 1.4;
            letter-spacing: 0;
            margin-bottom: pv(10);
        }
        &__text {
            font-size: 1.2rem;
            letter-spacing: 0;
            line-height: 1.4;
            margin-top: pv(10);
            a {
                text-decoration: underline;
            }
        }
        &__list {
            font-size: 1.5rem;
            letter-spacing: 0;
            line-height: 1.6;
            margin-top: pv(10);
            display: flex;
            display: none;
            dt {
                width: 80px;
            }
            dd {
                width: calc(100% - 80px);
            }
        }
        &__close {
            position: absolute;
            top: pv(-1);
            right: pv(-1);
            line-height: 1;
            width: pv(40);
            height: pv(40);
            background-color: var(--wht);
            border: pv(1) solid var(--bgBlack);
            cursor: pointer;
            transition: all 0.3s;
            &:hover {
                opacity: 0.8;
            }
            span {
                position: absolute;
                top: 50%;
                left: 50%;
                content: "";
                background-color: var(--bgBlack03);
                width: pv(15);
                height: pv(2);
                &:nth-of-type(1) {
                    transform: translate(-50%, -50%) rotate(45deg);
                }
                &:nth-of-type(2) {
                    transform: translate(-50%, -50%) rotate(-45deg);
                }
            }
        }

        &.is-visible {
            opacity: 1;
            visibility: visible;
            .c-popup__content {
                transform: translateX(0);
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .c-popup {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        opacity: 0;
        visibility: hidden;
        transition:
            opacity 0.3s ease,
            visibility 0.3s ease;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 999;

        &__content {
            background: var(--wht);
            border: vw(1) solid var(--bgBlack03);
            transform: translateX(-100%);
            transition: all 0.3s;
            width: vw(350);
        }
        &__img {

        }
        &__textarea {
            padding: vw(22) vw(24) vw(22);
            background-color: var(--wht);
        }
        &__title {
            font-size: 1.4rem;
            font-weight: bold;
            line-height: 1.4;
            letter-spacing: 0;
            margin-bottom: vw(10);
        }
        &__text {
            font-size: 1.2rem;
            letter-spacing: 0;
            line-height: 1.4;
            margin-top: vw(10);
            a {
                text-decoration: underline;
            }
        }
        &__list {
            font-size: 1.5rem;
            font-weight: bold;
            letter-spacing: 0;
            line-height: 1.6;
            margin-top: vw(10);
            display: none;
        }
        &__close {
            position: absolute;
            top: vw(-1);
            right: vw(-1);
            line-height: 1;
            width: vw(40);
            height: vw(40);
            background-color: var(--wht);
            border: vw(1) solid var(--bgBlack);
            cursor: pointer;
            transition: all 0.3s;
            &:hover {
                opacity: 0.8;
            }
            span {
                position: absolute;
                top: 50%;
                left: 50%;
                content: "";
                background-color: var(--bgBlack03);
                width: vw(15);
                height: vw(2);
                &:nth-of-type(1) {
                    transform: translate(-50%, -50%) rotate(45deg);
                }
                &:nth-of-type(2) {
                    transform: translate(-50%, -50%) rotate(-45deg);
                }
            }
        }

        &.is-visible {
            opacity: 1;
            visibility: visible;
            .c-popup__content {
                transform: translateX(0);
            }
        }
    }
}
