@use "setting/mixin" as *;
@use "setting/calc" as *;

@media screen and (min-width: 769px) {
    .c-ttl {
        &-mv {
            color: var(--textBlack);
        }
        
    }
}
@media screen and (max-width: 768px) {
    .c-ttl {
        
    }
}
