@use "setting/mixin" as *;
@use "setting/calc" as *;

// ==========================================
// デフォルト
// ==========================================
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;

  &:before,
  &:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
  }
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--robot);
  color: var(--textBlack);
  // background-color: var(--bgTheme);
  position: relative;
  width: 100%;
  word-break: break-all;
  line-height: 1.4;
  font-size: var(--basefs);
  font-weight: normal;
  letter-spacing: 0.025em;
  text-align: justify;
  overflow-x: hidden;

  background: linear-gradient(-45deg, #f9c2eb, #a8c2ee, #c2f9d0, #ffdea5) fixed;
  background-size: 800% 800%;
  animation: GradietionAnimation 9s ease infinite;
}
@keyframes GradietionAnimation { 
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

@include sp {
  body {
    font-size: vw(var(--fszBase_sp));
  }
}

main,
header,
footer,
section {
  display: block;
}

img {
  margin: 0;
  padding: 0;
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

button {
  padding: 0;
  border: unset;
}

input[type="text"],
input[type="password"],
textarea,
select {
  outline: none;
}

label {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  tap-highlight-color: rgba(0, 0, 0, 0);
}

.gmap {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
}
.gmap iframe {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.youtube {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}
.youtube iframe {
  position: absolute;
  top: 0;
  right: 0;
  width: 100% !important;
  height: 100% !important;
}

#pageTop {
  position: fixed;
  bottom: 20px;
  right: 0;
  font-size: 1.4rem;
  text-align: right;

  a {
    text-decoration: none;
    color: #fff;
    text-align: center;
    display: block;
    border-radius: 5px;

    &:hover {
      text-decoration: none;
    }
  }
}

a {
  color: #000;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  transition: all 0.3s;
  cursor: pointer;
  &:hover {
    opacity: 0.7;
  }
}


a[href^="tel:"] {
  pointer-events: none;
}
@media screen and (max-width: 768px) {
  a[href^="tel:"] {
    pointer-events: auto;
  }
}

.pc {
  display: block !important;
}
.sp {
  display: none !important;
}

@media screen and (max-width: 768px) {
  .pc {
    display: none !important;
  }
  .sp {
    display: block !important;
  }
}
