@use "setting/mixin" as *;
@use "setting/calc" as *;

@media screen and (min-width: 769px) {
    .l-ft {
        margin-top: 500px;
    }
}

@media screen and (max-width: 768px) {
    .l-ft {
        
    }
}
