:root {   
    --fszBase: 1.4rem; //PCベースフォント
    --fszBase_sp: 14; //SPベースフォント

    --fszAtt: 1.1rem; //PCベースフォント
    --fszAtt_sp: 11; //SPベースフォント

    --fszMid: 1.6rem; //PC中タイトル
    --fszMid_sp: 16; //SP中タイトル

    --fszMvTtl: 3.2rem; //PC MVタイトル
    --fszMvTtl_sp: 24; //SP MVタイトル

    --fszTtl: 2.8rem; //PCタイトル
    --fszTtl_sp: 20; //SPタイトル

    --fszSubTtl: 2rem; //PCサブタイトル
    --fszSubTtl_sp: 16; //SPサブタイトル


}